.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        margin-top: 60px;
    }

    &-header__title {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
    }

    &-header__link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }

    &-list {
        width: 1300px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
        margin-top: 60px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    &-title__left {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
    }

    &-title__right {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        width: 900px;
        margin-left: 315px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    &-list__item {
        cursor: pointer;

        width: 235px;
        height: 207px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 20px;
        justify-content: center;

        border: 1px solid #E0E1E3;
        background: #fff;
    }

    &-list__item:hover {
        box-shadow: 0px 5px 30px rgba(63, 66, 69, 0.15);
        background: #FFFFFF;

        border: none;

        color: #3697E2;
    }

    &-list__value {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 10px;
    }

    &-name {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
    }
}