@import './mixin.scss';
@import './variables.scss';

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    &-location {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 15px;
    }

    &-location__city {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-navigation {
        display: flex;
        justify-content: center;
        align-items: center;

        list-style: none;

        :nth-child(4) {
            background-color: yellow
        }
    }

    &-messenger {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 20px;

        &__icon {
            margin-right: 5px;
        }
    }

    &-mail {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 20px;

        &__info {
            margin-left: 10px;
        }
    }

    &-authorization {
        display: flex;
        justify-content: center;
        align-items: center;

        &__btn {
            cursor: pointer;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;

            border: none;
            background: transparent;
        }
    }

    a {
        text-decoration: none;
        color: black;

        margin-right: 15px;
    }
}