.item {
    background: #F7F8FB;

}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 34px;

    &-nav {

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__list {
            margin-right: 30px;

            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;

            color: #9A9C9E;

            cursor: pointer;

        }

        &__list:hover {
            color: #3697E2;

            text-decoration: underline;
            
        }
    }

}

.item-header__catalog {
    cursor: pointer;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.item-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__list--btn__left {
    left: 40px;

    cursor: pointer;

    position: absolute;

    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(63, 66, 69, 0.15);
    border-radius: 70px;
    border: none;
}

.item__list--btn__right {
    cursor: pointer;

    position: absolute;
    right: 60px;

    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(63, 66, 69, 0.15);
    border-radius: 70px;
    border: none;
}