.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo {
        margin-right: 30px;
    }

    &-input__wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        .navigation-input__search {
            cursor: pointer;

            position: absolute;

            right: 15px;
        }
    }

    &-input {
        width: 732px;
        padding: 12px 15px 12px 20px;

    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin-right: 30px;
        }

    }
}