.products {

    display: flex;
    flex-direction: column;
    padding: 30px 25px;

    background: #F7F8FB;

    &-title {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;


        margin-top: 60px;
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
    }

    &-list {
        margin-top: 20px;
        margin-right: 20px;

        display: flex;

        box-shadow: 0px 5px 20px rgba(63, 66, 69, 0.05);
        border-radius: 5px;

        background: #FFFFFF;

        width: 353px;
        height: 325px;
    }

    &-list__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(241, 218, 9, 0.5);
        border-radius: 10px;

        width: 70px;
        height: 70px;

        margin-top: 30px;
        margin-left: 25px;
    }

    &-list__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-list__number {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;

        margin-right: 5px;

        color: #9A9C9E;

        a {
            text-decoration: none;
            color: black;

            margin-right: 5px;
        }

        a:hover {
            color: #3697E2;
        }
    }

    &-list__name {}

    li {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;

        margin-top: 5px;

        li {
            margin-top: 10px;
        }

    }

    &-list__btn {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 15px;
        padding: 6px 10px;

        width: 140px;
        height: 32px;

        border: 1px solid #E0E1E3;
        border-radius: 5px;

        background: transparent;

    }

    &-list__btn:hover {
        color: #3697E2;
    }

    .btn-circle {
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 5px;

        &__item {

            margin-right: 5px;

            width: 5px;
            height: 5px;
            background: #0b0d0f;
            border-radius: 50%;
        }
    }

}